@at-root .article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: {
    bottom: #{$padding};
  };

  &__title {
    @include typography.typography("headline6");
    &--anchor {
      @extend %link-anchor;
    }
    &--external {
      @extend %link-external;
    }

    &--range {
      @include content-key(attr(data-min) " – " attr(data-max) " ");
    }
  }

  &__description {
    @extend %list-mid;
  }

  &__goals {
    @extend %list-big;
  }
  &__stack {
    @extend %list-small;
    border-left: #{$radius} solid #{$back};
    padding-left: #{$padding};
    color: #{$passive};

    //TODO to block
    ._hover {
      border-radius: 0.5em;
      cursor: crosshair;
      color: initial;
      background-color: #{$primary-alpha};
      &::after {
        display: none;
      }
    }
  }
  &__subjects {
    font-style: italic;
    @extend %list-mid;
  }
}
