& {
  display: grid;
  @media only screen and (min-width: #{$desktop}) {
    grid-template-columns: 1fr 1fr;
    column-gap: #{$padding-big};
    grid-template-areas:
      'links links'
      'hr hr'
      'objectives objectives'
      'experience competences'
      'experience projects'
      'experience education'
      'experience languages'
    ;  
  }
  grid-template-areas:
    'links'
    'hr'
    'objectives'
    'competences'
    'projects'
    'experience'
    'education'
    'languages'
  ;  

  &__links { grid-area: links; }
  &__objectives { grid-area: objectives; }
  &__projects { grid-area: projects; }
  &__experience { grid-area: experience; }
  &__education { grid-area: education; }
  &__competences { grid-area: competences; }
  &__languages { grid-area: languages; } 
}