& {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  grid-template-areas:
    'links links'
    'hr hr'
    'objectives objectives'
    'experience competences'
    'experience projects'
    'experience education'
    'experience languages'
  ;

  &__links { grid-area: links; }
  &__objectives { grid-area: objectives; }
  &__projects { grid-area: projects; }
  &__experience { grid-area: experience; }
  &__education { grid-area: education; }
  &__competences { grid-area: competences; }
  &__languages { grid-area: languages; } 
}