@at-root .header {
  padding: {
    top: #{$padding-big};
    left: #{$padding-big};
    right: #{$padding-big};
    // bottom: #{$padding};
  }
  @include typography.typography("headline2");
  
  // &__title {}

  &__description {
    @include typography.typography("headline4");
    float: right;
    vertical-align: middle;
    line-height: inherit;
  }
}
