$term--Apache: "Apache";
$term--bash: "bash";
$term--C: "C";
$term--canvas: "canvas";
$term--Cpp: "Cpp";
$term--CSS: "CSS";
$term--CSS3: "CSS3";
$term--Cypress: "Cypress";
$term--Docker: "Docker";
$term--ExpressJs: "ExpressJs";
$term--git: "git";
$term--GitLab_CI: "GitLab_CI";
$term--Haxe: "Haxe";
$term--Jest: "Jest";
$term--Jenkins: "Jenkins";
$term--jQuery: "jQuery";
$term--JS_DOM: "JS_DOM";
$term--JS: "JS";
$term--JsonSchema: "JsonSchema";
$term--jwt: "jwt";
$term--MongoDB: "MongoDB";
$term--MySQL: "MySQL";
$term--Next_js: "Next_js";
$term--nginx: "nginx";
$term--Node_http: "Node_http";
$term--Node_js: "Node_js";
$term--nwjs: "nwjs";
$term--OpenCV: "OpenCV";
$term--OpenMPI: "OpenMPI";
$term--PHP: "PHP";
$term--pixi_js: "pixi_js";
$term--Puppeteer: "Puppeteer";
$term--PureCss: "PureCss";
$term--Python: "Python";
$term--React: "React";
$term--Reactive: "Reactive";
$term--Redux: "Redux";
$term--RxJs: "RxJs";
$term--SASS: "SASS";
$term--TypeScript: "TypeScript";
$term--Webpack: "Webpack";
$term--WordPress: "WordPress";

$terms: (
  $term--Apache,
  $term--bash,
  $term--C,
  $term--canvas,
  $term--Cpp,
  $term--CSS,
  $term--CSS3,
  $term--Cypress,
  $term--Docker,
  $term--ExpressJs,
  $term--git,
  $term--GitLab_CI,
  $term--Haxe,
  $term--Jest,
  $term--Jenkins,
  $term--jQuery,
  $term--JS_DOM,
  $term--JS,
  $term--JsonSchema,
  $term--jwt,
  $term--MongoDB,
  $term--MySQL,
  $term--Next_js,
  $term--nginx,
  $term--Node_http,
  $term--Node_js,
  $term--nwjs,
  $term--OpenCV,
  $term--OpenMPI,
  $term--PHP,
  $term--pixi_js,
  $term--Puppeteer,
  $term--PureCss,
  $term--Python,
  $term--React,
  $term--Reactive,
  $term--Redux,
  $term--RxJs,
  $term--SASS,
  $term--TypeScript,
  $term--Webpack,
  $term--WordPress
);