@use "@material/typography";
@use "@material/elevation";

$padding: 1rem;
$icon-size: 1.5rem;

:root {
  @include typography.typography("body1");
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

.Main {
  padding: 2 * $padding;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto minmax(1fr, 40%);
  grid-template-rows:
    max-content
    min-content
    1fr
    min-content
  ;
  grid-template-areas:
    'Objectives Objectives'
    'Experience Education'
    'Experience .'
    'Experience Human_Languages'
  ;
  gap: 2rem;

  &__ { 
    &header {
      white-space: nowrap;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      padding: $padding;
      padding-bottom: 0;
      
      position: sticky;
      top: 0; 

      background-color: white;
      @include elevation.elevation(4);
    }
    
    &title, &description, &links {
      padding: $padding;
    }
    &links {
      white-space: initial;
      width: 100%;
    }
    &title {
      flex: 1;
      min-width: min-content;
    }
  }
}

.Objectives { grid-area: Objectives;}
.Human_Languages { grid-area: Human_Languages;}
.Experience { grid-area: Experience;}
.Education { grid-area: Education;}


.links {
  text-decoration: inherit;
  margin: {
    top: 0.2rem;
    bottom: 0.2rem;
  }
  & {
    @include content-key {
      background: {
        position: left center;
        repeat: no-repeat;
        size: contain;
      }
      padding: {
        top: calc((#{$icon-size} - 1em) / 2);
        bottom: calc((#{$icon-size} - 1em) / 2);
        left: $icon-size;
      }
      margin-right: 0.25rem;
    }
  }
}


.Main__Property,
.ExpRecords__Property {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @include content-key {
    order: -3;
    flex: 1;
    min-width: 100%;
  }
  @include content-value {
    display: block;
    order: -2;
    min-width: 100% ;
    flex-grow: 1;
  }
}

.ExpRecords__Property {
  margin-top: 1rem;
}
.Term {
  display: inline-block;
}

.Human_Languages__Property,
.Goal {
  list-style-position: inside;
  min-width: 100%;
}
.Human_Languages__Property {
  display: list-item;
  list-style-type: circle;  
}
.Goal {
  display: none;
  list-style-type: disc;
}

/** Typography */

.Main__ { 
  &title {
    @include typography.typography("headline2");
  }
  &description {
    @include typography.typography("headline4");
  }
  &Property {
    @include content-key {
      @include typography.typography("headline5");
    }
    @include content-value {
      @include typography.typography("body1");
    }  
  }
}

.ExpRecords__Property {
  @include content-key { 
    @include typography.typography("headline6");
  }
  @include content-value {
    @include typography.typography("subtitle1");
  }
}


.Human_Languages__Property,
.Term,
.Goal {
  @include typography.typography("body1");
}
.Term {
  @include typography.typography("subtitle2");
}
