@import "utils"
, "content"
;

.Main__ {
  &title {
    @include content-value("Andrii Kirmas");
  }
  &description{
    @include content-key("Senior Software ");
  }
}

.links-- {
  &residence {
    pointer-events: none;
    color: inherit;
  }
  &residence {
    @include content-key("🇮🇱") {
      padding-left: 0;
    }
  }
  &residence { @include content-value("Israel/Netanya");}
  &github { @include content-value("github.com/askirmas");}
  &linkedin { @include content-value("linkedin.com/in/kirmas");}
}

.Objectives { @include content-value("Passionate for systematic and iterative procedures. High educability and deep knowledge of computer science makes me efficient in engineering and architecture that provides a logical flow of knowledge and progress.");}

.Human_Languages-- {
  &English { @include content-value("Fluent");}
  &Hebrew { @include content-value("Basic");}
  &Ukrainian { @include content-value("Mother tongue");}
  &Russian { @include content-value("Mother tongue");}
}

.Term-- {
  &Engineer {
    @include content-key("Engineer");
    // @include content-value("The engineer has a solid educational grounding and the ability to apply engineering concepts to create digital solutions");
  }
  
  &Docker,
  &nginx,
  &C,
  &Cpp,
  &OpenMPI,
  &OpenCV,
  &nwjs,
  &pixi_js,
  &jwt,
  & {
    font-style: italic;
  }
}

.Experience {
  $root: #{&};

  @at-root y2020 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2019 - 2020 Senior Fullstack Engineer",
          "Cloudwize.io /*Cloud Management*/ @Israel/Netanya"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Implemented IDE-like website"); }
        &1 { @include goal-content("Customers portal (full-stack)"); }
        &2 { @include goal-content("Created styling system for the company"); }
        &3 { @include goal-content("Built company’s internal infrastructure"); }
        &4 { @include goal-content("Updated repositories structure for better usability"); }
      }
    }
  }

  @at-root y2019 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2018 - 2019 Lead Software Engineer",
          "Go-Be Marketing Ltd /*Sales Company*/ @Israel/Tel-Aviv"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Communicating with outsources, supports, consulting affiliates"); }
        &1 { @include goal-content("Support and fast solving common operational issues"); }
        &2 { @include goal-content("Continuous deployment"); }
        &3 { @include goal-content("Software integrations with delegated configurations"); }
        &4 { @include goal-content("Legacy code solving"); }
        &5 { @include goal-content("Built websites and landing pages"); }
      }
    }
  }

  @at-root y2017 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2015 - 2017 Software Engineer",
          "Intetics Inc @Ukraine/Kharkiv, Area9 @Denmark/Copenhagen"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Web client for media viewing with mobile optimizations"); }
        &1 { @include goal-content("Extended Compiler, Type system, Running platform and Build system of Proprietary programming language"); }
        &2 { @include goal-content("Backend service for PDF resources conversion and storage"); }
        &3 { @include goal-content("Implemented algorithm of specifications learning from examples for Programming by example system"); }
      }
    }
  }

  @at-root y2015 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2014 - 2015 Freelance Developer",
          "Eikoncraft /*Software service company*/ @USA/Dallas"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Created internal timelog system"); }
      }
    }
  }

  @at-root y2014 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2008 - 2014 Co-Founder, Branch Manager",
          "New Educational Initiatives Llc ​/*eLearning company*/ @Russia/Moscow"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Managing"); }
        &1 { @include goal-content("Video and audio processing"); }
        &2 { @include goal-content("Researches"); }
        &3 { @include goal-content("Software"); }
      }
    }
  }
}

.Education {
  $root: #{&};
  @at-root y2014 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2012 - 2014 Master of Computer Science",
          "Institute of Cybernetics @Ukraine/Kyiv. Institute of Physics and Technology @Russia/Moscow"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Software Engineering"); }
        &1 { @include goal-content("System Engineering"); }
        &2 { @include goal-content("Neural networks"); }
      }
    }
  }

  @at-root y2012 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2006 - 2012 Bachelor of Applied Mathematics",
          "Institute of Physics and Technology @Russia/Moscow"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Databases"); }
        &1 { @include goal-content("Mathematical optimization"); }
        &2 { @include goal-content("Programming language theory"); }
        &3 { @include goal-content("Computational complexity"); }
        &4 { @include goal-content("Data structures"); }
        &5 { @include goal-content("Algorithms and calculus methods"); }
        &6 { @include goal-content("Mathematical analysis"); }
        &7 { @include goal-content("Parallel programming"); }
        &8 { @include goal-content("Analytic geometry"); }
      }
    }
  }

  @at-root y2006 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "1996 - 2006 Awardee of international and republic Math olympiads",
          "Physics and Mathematics Lyceum #27 @Ukraine/Kharkiv"
        );
      }
    }
  }
}


.Term--y2012-0 { @include term--MySQL; }
.Term--y2012-1 { @include term--C; }
.Term--y2012-2 { @include term--Cpp; }
.Term--y2012-3 { @include term--OpenMPI; }
.Term--y2014-0 { @include term--Cpp; }
.Term--y2014-1 { @include term--PHP; }
.Term--y2014-2 { @include term--MySQL; }
.Term--y2014-3 { @include term--JS; }
.Term--y2014-4 { @include term--OpenCV; }
.Term--y2015-0 { @include term--JS; }
.Term--y2015-1 { @include term--Reactive; }
.Term--y2017-0 { @include term--JS_DOM; }
.Term--y2017-1 { @include term--React; }
.Term--y2017-2 { @include term--RxJs; }
.Term--y2017-3 { @include term--canvas; }
.Term--y2017-4 { @include term--TypeScript; }
.Term--y2017-5 { @include term--Haxe; }
.Term--y2017-6 { @include term--Apache; }
.Term--y2017-7 { @include term--NodeJs; }
.Term--y2017-8 { @include term--PHP; }
.Term--y2017-9 { @include term--MySQL; }
.Term--y2017-10 { @include term--Python; }
.Term--y2017-11 { @include term--nwjs; }
.Term--y2017-12 { @include term--pixi_js; }
.Term--y2017-13 { @include term--jwt; }
.Term--y2019-0 { @include term--JsonSchema; }
.Term--y2019-1 { @include term--git; }
.Term--y2019-2 { @include term--node_http; }
.Term--y2019-3 { @include term--bash; }
.Term--y2019-4 { @include term--NodeJs; }
.Term--y2019-5 { @include term--ExpressJs; }
.Term--y2019-6 { @include term--MongoDB; }
.Term--y2019-7 { @include term--Apache; }
.Term--y2019-8 { @include term--PHP; }
.Term--y2019-9 { @include term--MySQL; }
.Term--y2019-10 { @include term--jQuery; }
.Term--y2019-11 { @include term--WordPress; }
.Term--y2019-12 { @include term--Next_js; }
.Term--y2019-13 { @include term--React; }
.Term--y2019-14 { @include term--CSS3; }
.Term--y2019-15 { @include term--PureCss; }
.Term--y2019-16 { @include term--nginx; }
.Term--y2020-0 { @include term--TypeScript; }
.Term--y2020-1 { @include term--JsonSchema; }
.Term--y2020-2 { @include term--Jest; }
.Term--y2020-3 { @include term--Cypress; }
.Term--y2020-4 { @include term--Puppeteer; }
.Term--y2020-5 { @include term--JS_DOM; }
.Term--y2020-6 { @include term--React; }
.Term--y2020-7 { @include term--CSS; }
.Term--y2020-8 { @include term--SASS; }
.Term--y2020-9 { @include term--ExpressJs; }
.Term--y2020-10 { @include term--NodeJs; }
.Term--y2020-11 { @include term--Redux; }
.Term--y2020-12 { @include term--MySQL; }
.Term--y2020-13 { @include term--MongoDB; }
.Term--y2020-14 { @include term--Webpack; }
.Term--y2020-15 { @include term--bash; }
.Term--y2020-16 { @include term--CSS3; }
.Term--y2020-17 { @include term--git; }
.Term--y2020-18 { @include term--GitLab_CI; }
.Term--y2020-19 { @include term--Docker; }

