@import "utils";

.Main__ {
  &title {
    @include content-value("Andrii Kirmas");
  }
  &description{
    @include content-key("Senior Software ");
  }
}

.links-- {
  &residence {
    pointer-events: none;
    color: inherit;
  }
  &residence {
    @include content-key("🇮🇱") {
      padding-left: 0;
    }
  }
  &residence { @include content-value("Israel/Netanya");}
  &github { @include content-value("github.com/askirmas");}
  &linkedin { @include content-value("linkedin.com/in/kirmas");}
}

.Objectives { @include content-value("Passionate for systematic and iterative procedures. High educability and deep knowledge of computer science makes me efficient in engineering and architecture that provides a logical flow of knowledge and progress.");}

.Human_Languages-- {
  &English { @include content-value("Fluent");}
  &Hebrew { @include content-value("Basic");}
  &Ukrainian { @include content-value("Mother tongue");}
  &Russian { @include content-value("Mother tongue");}
}

.Term-- {
  &Engineer {
    @include content-key("Engineer");
    // @include content-value("The engineer has a solid educational grounding and the ability to apply engineering concepts to create digital solutions");
  }  
}

.Experience {
  $root: #{&};

  @at-root y2020 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2019 - 2020 Senior Fullstack Engineer",
          "Cloudwize.io /*Cloud Management*/ @Israel/Netanya"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Implemented IDE-like website"); }
        &1 { @include goal-content("Customers portal (full-stack)"); }
        &2 { @include goal-content("Created styling system for the company"); }
        &3 { @include goal-content("Built company’s internal infrastructure"); }
        &4 { @include goal-content("Updated repositories structure for better usability"); }
      }
    }
  }

  @at-root y2019 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2018 - 2019 Lead Software Engineer",
          "Go-Be Marketing Ltd /*Sales Company*/ @Israel/Tel-Aviv"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Communicating with outsources, supports, consulting affiliates"); }
        &1 { @include goal-content("Support and fast solving common operational issues"); }
        &2 { @include goal-content("Continuous deployment"); }
        &3 { @include goal-content("Software integrations with delegated configurations"); }
        &4 { @include goal-content("Legacy code solving"); }
        &5 { @include goal-content("Built websites and landing pages"); }
      }
    }
  }

  @at-root y2017 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2015 - 2017 Software Engineer",
          "Intetics Inc @Ukraine/Kharkiv, Area9 @Denmark/Copenhagen"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Web client for media viewing with mobile optimizations"); }
        &1 { @include goal-content("Extended Compiler, Type system, Running platform and Build system of Proprietary programming language"); }
        &2 { @include goal-content("Backend service for PDF resources conversion and storage"); }
        &3 { @include goal-content("Implemented algorithm of specifications learning from examples for Programming by example system"); }
      }
    }
  }

  @at-root y2015 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2014 - 2015 Freelance Developer",
          "Eikoncraft /*Software service company*/ @USA/Dallas"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Created internal timelog system"); }
      }
    }
  }

  @at-root y2014 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2008 - 2014 Co-Founder, Branch Manager",
          "New Educational Initiatives Llc ​/*eLearning company*/ @Russia/Moscow"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Managing"); }
        &1 { @include goal-content("Video and audio processing"); }
        &2 { @include goal-content("Researches"); }
        &3 { @include goal-content("Software"); }
      }
    }
  }
}

.Education {
  $root: #{&};
  @at-root y2014 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2012 - 2014 Master of Computer Science",
          "Institute of Cybernetics @Ukraine/Kyiv. Institute of Physics and Technology @Russia/Moscow"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Software Engineering"); }
        &1 { @include goal-content("System Engineering"); }
        &2 { @include goal-content("Neural networks"); }
      }
    }
  }

  @at-root y2012 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "2006 - 2012 Bachelor of Applied Mathematics",
          "Institute of Physics and Technology @Russia/Moscow"
        );
      }
      &__Goal--#{$year}- {
        &0 { @include goal-content("Databases"); }
        &1 { @include goal-content("Mathematical optimization"); }
        &2 { @include goal-content("Programming language theory"); }
        &3 { @include goal-content("Computational complexity"); }
        &4 { @include goal-content("Data structures"); }
        &5 { @include goal-content("Algorithms and calculus methods"); }
        &6 { @include goal-content("Mathematical analysis"); }
        &7 { @include goal-content("Parallel programming"); }
        &8 { @include goal-content("Analytic geometry"); }
      }
    }
  }

  @at-root y2006 {
    $year: #{&};
    @at-root #{$root} {
      &--#{$year} {
        @include content-apply(
          "1996 - 2006 Awardee of international and republic Math olympiads",
          "Physics and Mathematics Lyceum #27 @Ukraine/Kharkiv"
        );
      }
    }
  }
}

Term {
  $entity: #{&};
  @at-root %#{$entity}-- {
    @import "content";
    &Docker,
    &nginx,
    &C,
    &Cpp,
    &OpenMPI,
    &OpenCV,
    &nwjs,
    &pixi_js,
    &jwt {
      font-style: italic;
    }
  }
  @at-root .Education__#{$entity}-- {
    &y2012-{
      &0 { @extend %Term--MySQL;}
      &1 { @extend %Term--C; }
      &2 { @extend %Term--Cpp; }
      &3 { @extend %Term--OpenMPI; }    
    }
  }
  @at-root .Experience__#{$entity}-- {
    &y2014- { 
      &0 { @extend %Term--Cpp; }
      &1 { @extend %Term--PHP; }
      &2 { @extend %Term--MySQL; }
      &3 { @extend %Term--JS; }
      &4 { @extend %Term--OpenCV; }
    }
    &y2015- {
      &0 { @extend %Term--JS; }
      &1 { @extend %Term--Reactive; }
    }
    &y2017- {
      &0 { @extend %Term--JS_DOM; }
      &1 { @extend %Term--React; }
      &2 { @extend %Term--RxJs; }
      &3 { @extend %Term--canvas; }
      &4 { @extend %Term--TypeScript; }
      &5 { @extend %Term--Haxe; }
      &6 { @extend %Term--Apache; }
      &7 { @extend %Term--NodeJs; }
      &8 { @extend %Term--PHP; }
      &9 { @extend %Term--MySQL; }
      &10 { @extend %Term--Python; }
      &11 { @extend %Term--nwjs; }
      &12 { @extend %Term--pixi_js; }
      &13 { @extend %Term--jwt; }
    }
    &y2019-{
      &0 { @extend %Term--JsonSchema; }
      &1 { @extend %Term--git; }
      &2 { @extend %Term--node_http; }
      &3 { @extend %Term--bash; }
      &4 { @extend %Term--NodeJs; }
      &5 { @extend %Term--ExpressJs; }
      &6 { @extend %Term--MongoDB; }
      &7 { @extend %Term--Apache; }
      &8 { @extend %Term--PHP; }
      &9 { @extend %Term--MySQL; }
      &10 { @extend %Term--jQuery; }
      &11 { @extend %Term--WordPress; }
      &12 { @extend %Term--Next_js; }
      &13 { @extend %Term--React; }
      &14 { @extend %Term--CSS3; }
      &15 { @extend %Term--PureCss; }
      &16 { @extend %Term--nginx; }
    }
    &y2020- {
      &0 { @extend %Term--TypeScript; }
      &1 { @extend %Term--JsonSchema; }
      &2 { @extend %Term--Jest; }
      &3 { @extend %Term--Cypress; }
      &4 { @extend %Term--Puppeteer; }
      &5 { @extend %Term--JS_DOM; }
      &6 { @extend %Term--React; }
      &7 { @extend %Term--CSS; }
      &8 { @extend %Term--SASS; }
      &9 { @extend %Term--ExpressJs; }
      &10 { @extend %Term--NodeJs; }
      &11 { @extend %Term--Redux; }
      &12 { @extend %Term--MySQL; }
      &13 { @extend %Term--MongoDB; }
      &14 { @extend %Term--Webpack; }
      &15 { @extend %Term--bash; }
      &16 { @extend %Term--CSS3; }
      &17 { @extend %Term--git; }
      &18 { @extend %Term--GitLab_CI; }
      &19 { @extend %Term--Docker; }
    }
  }
}

