@use "@material/typography";
@use "@material/elevation";

:root {
  @include typography.typography("body1");
  // font-size: 12px;
}
%font-reset {
  font-size: initial;
  font-weight: initial;
  line-height: initial;
  letter-spacing: initial;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

.Main {
  padding: 1rem;
  &__ { 
    &header {
      padding: 1rem;
      top: 0; 
      position: sticky;
      background-color: white;
      padding-bottom: 1rem;
      @include elevation.elevation(4);
    }
    &title {
      @include typography.typography("headline2");
    }
    &description {
      @include typography.typography("headline4");
    }
    &Property {
      @include typography.typography("headline5");
    }
  }
}

.ExpRecords__Property {
  @include typography.typography("headline6");
  &::after {
    @include typography.typography("subtitle1");
  }
}

.links {
  text-decoration: inherit;
  &::before {
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: calc((24px - 1rem) / 2);
    padding-bottom: calc((24px - 1rem) / 2);
    padding-left: 24px;
    margin-right: 0.25rem;
  }
}


.Main__Property,
.ExpRecords__Property {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  &::before {
    grid-row: 1;
    order: -2;
    flex: 1;
    min-width: 100%;
  }
  &::after {
    display: block;
    grid-row: 2;
    order: -1;
    min-width: 100% ;
    flex-grow: 1;
    @extend %font-reset;
  }
}

.Human_Languages__Property,
.Term,
.Goal {
  @extend %font-reset;
}

.Human_Languages__Property {
  display: block;
  min-width: 100%;
}


.Term {
  @include typography.typography("subtitle2");
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.Goal {
  display: list-item;
  list-style-position: inside;
  list-style-type: disc;
  min-width: 100%;
}