@import "theme";

.links-- {
  &email::before {
    content: "";
    background-image: url(https://fonts.gstatic.com/s/i/materialicons/email/v6/24px.svg);
  }
  &phone::before {
    content: "";
    background-image: url(https://fonts.gstatic.com/s/i/materialicons/smartphone/v7/24px.svg);
  }
  &github::before {
    content: "";
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/95/Font_Awesome_5_brands_github.svg);
  }
  &linkedin::before {
    content: "";
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/80/LinkedIn_Logo_2013.svg);
    background-position-x: right;
    background-size: auto #{$icon-size};
    padding-left: 1.25 * $icon-size;
    margin-right: 0;
  }
}

.Objectives::before {content: "Objectives";}
.Experience::before {content: "Experience";}
.Education::before {content: "Education";}

.Human_Languages {
  &::before {content: "Languages";}
  &--English::before {content: "English: ";}
  &--Hebrew::before {content: "Hebrew: ";}
  &--Ukrainian::before {content: "Ukrainian: ";}
  &--Russian::before {content: "Russian: ";}
}
.Term-- {
  &Apache::before {content: "Apache";}
  &bash::before {content: "bash";}
  &C::before {content: "C";}
  &canvas::before {content: "<canvas>"; @debug &;}
  &Cpp::before {content: "C++";}
  &CSS::before {content: "CSS";}
  &CSS3::before {content: "CSS3";}
  &Cypress::before {content: "Cypress";}
  &Docker::before {content: "Docker";}
  &ExpressJs::before {content: "ExpressJs";}
  &git::before {content: "git";}
  &GitLab_CI::before {content: "GitLab CI";}
  &Haxe::before {content: "Haxe";}
  &Jest::before {content: "Jest";}
  &jQuery::before {content: "jQuery";}
  &JS_DOM::before {content: "JS DOM";}
  &JS::before {content: "JS";}
  &JsonSchema::before {content: "JsonSchema";}
  &jwt::before {content: "jwt";}
  &MongoDB::before {content: "MongoDB";}
  &MySQL::before {content: "MySQL";}
  &Next-js::before {content: "Next.js"}
  &nginx::before {content: "nginx"}
  &node-http::before {content: "node/http"}
  &NodeJs::before {content: "NodeJs";}
  &nwjs::before {content: "nwjs";}
  &OpenCV::before {content: "OpenCV"}
  &OpenMPI::before {content: "OpenMPI";}
  &PHP::before {content: "PHP";}
  &pixi_js::before {content: "pixi.js";}
  &Puppeteer::before {content: "Puppeteer";}
  &PureCss::before {content: "PureCss"}
  &Python::before {content: "Python";}
  &React::before {content: "React";}
  &Reactive::before {content: "Reactive";}
  &Redux::before {content: "Redux";}
  &RxJs::before {content: "RxJs";}
  &SASS::before {content: "SASS";}
  &TypeScript::before {content: "TypeScript";}
  &Webpack::before {content: "Webpack";}
  &WordPress::before {content: "WordPress"}
}
